
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    font-family: 'Arial', sans-serif;
}

.calculator {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    width: 300px;
}

.calculator-screen {
    background-color: #222;
    color: #fff;
    font-size: 28px;
    text-align: right;
    padding: 20px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 80px;
}

.calculator-buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1px;
}

.btn {
    background-color: #e0e0e0;
    border: none;
    padding: 20px;
    font-size: 1.5em;
    cursor: pointer;
    outline: none;
}

.btn:hover {
    background-color: #d4d4d4;
}

.btn-equal {
    grid-column: span 2;
    background-color: #f39c12;
    color: #fff;
}

.btn-equal:hover {
    background-color: #e08e0b;
}

.btn-zero {
    grid-column: span 2;
} 


